html, body, li, ul, #__next, p, figure{
  height: 100%;
  margin: 0;
  padding: 0;
}
a{ text-decoration: none }
ul,li{
  list-style: none;
}
button, img{
  border: 0;
}
input, textarea, button{
  vertical-align: middle;
}
input[type=text],
input[type=email],
input[type=password]{
  height: 30px;
  font-size: 14px;
  width: 100px;
  margin: 0;
  padding: 0;
}
$wh: 13px;


@mixin ell($v) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $v;
}

.card:empty {
  display: flex;
  width: 100%;
  height: 100%;

  background-image:
          //radial-gradient( circle 50px at 50px 50px, lightgray 99%, transparent 0 ),
          linear-gradient( lightgray 100px, transparent 0 ),
          linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
          linear-gradient( lightgray 20px, transparent 0 ),
          linear-gradient( lightgray 20px, transparent 0 ),
          linear-gradient( lightgray 20px, transparent 0 ),
          linear-gradient( lightgray 20px, transparent 0 );

  background-repeat: repeat-y;

  background-size:
          100px 200px, /* circle */
          150px 200px, /* highlight */
          60% 200px,
          40% 200px,
          30% 200px,
          50% 200px;

  background-position:
          20px 20px, /* circle */
          0 0, /* highlight */
          150px 20px,
          150px 50px,
          150px 80px,
          150px 110px;

  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position:
            20px 20px,
            100% 0, /* move highlight to right */
            150px 20px,
            150px 50px,
            150px 80px,
            150px 110px;
  }
}

/*
:local(.cc1) {
  background: red;
  color: yellow;
}

:local(.ss2) {
  composes: cc1;
  background: blue;
}
*/


.list{
  position: relative;
  margin: 20px 10px;
  overflow: hidden;
  .thumb{
    position: relative;
    float: left;
    display: block;
    width: 120px;
    margin-right: 10px;
    font-size: 0;
    img{width: 100%;}
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #000;
      box-sizing: border-box;
      opacity: .1;
    }
  }
  .tit{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    &.test{
      color:red
    }
  }
  .parag{
    @include ell(2);
    font-size: 13px;
    line-height: 1.4;
    color: #666;
  }
}

.paging{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    display: inline-block;
    padding: 5px 0;
    width: 20px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.contentView{
  .title{
    font-size: 20px;
    margin: $wh;
  }
  .view{
    margin: $wh;
  }
  img{
    max-width: 100%;
    height: auto;
  }
}

.formWrap{
  margin: 0 $wh;
  font-size: 14px;
  .optionsWrap{
    display: flex;
    justify-content: space-between;
  }
  .options {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    label{
      width: 50px;
      display: inline-block;
      text-align: left;
      padding: 5px 0;
    }
    input{
      width: 100%;
    }
  }
  .textArea{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;

  }
}

.submit{
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  background-color: darkslateblue;
}
.nodata{
  text-align: center;
  padding: 30px 0;
  border: 1px solid #ccc;
}

.replyWrap{
  margin: $wh;
  display: flex;
  flex-direction: column-reverse;
  .item{
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
  }
  .options{
    color: #666;
    font-size: 13px;
  }
  p{
    margin: 10px 0;
  }
  .btnDelete{
    margin-left: 10px;
  }
}